/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* header */
header {
    background-color: #ADD8E6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 250px;
}

.col-logo {
    width: 15%;
    background-color: #DAA51F;
    /* debug */
    /* height: 40px;  */
    border: 1px dashed black;

}

.col-link {
    width: 70%;
    background-color: #DAA51F;
    text-align: center;
    /* debug */
    /* height: 40px;  */
    border: 1px dashed black;

}

.col-login {
    width: 15%;
    background-color: #DAA51F;
    text-align: right;
    /* debug */
    /* height: 40px;  */
    border: 1px dashed black;
}

/* main */
/* first main */
.first-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */
    height: 500px;
    background-color: #11078B;

}

.pink-conteiner {
    width: 900px;
    /* debug */
    height: 350px;
    border: 2px dashed black;
    background-color: #EE82EE;

}

/* second main */
.second-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 500px;
}

.big-conteiner {
    width: 70%;
    /* debug */
    height: 350px;
    border: 2px dashed black;
    background-color: #3A90FF;

}

.small-conteiner {
    width: 30%;
    /* debug */
    height: 350px;
    border: 2px dashed black;
    background-color: #FCFB03;

}

/* third main */
.third-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 500px;
    background-color: #D3D3D3;

}

/* fourth main */


/* fifth main */
.fifth-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* debug */
    /* height: 500px; */
    background-color: #D3D3D3;

}

.one-big-conteiner {
    width: 800px;
    /* debug */
    height: 800px;
    border: 2px dashed black;
    background-color: #278B21;

}

/* footer */

.foot-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 700px;
    background-color: #23272A;

}

.col-conteiner-big {
    width: 40%;
    /* debug */
    height: 500px;
    border: 2px dashed black;
    background-color: #F08080;

}

.col-conteiner-small {
    width: 20%;
    /* debug */
    height: 500px;
    border: 2px dashed white;
    background-color: #3AB2AA;

}

hr {
    border: 2px solid white;
}

.bottom-conteiner {
    display: flex;
    align-items: end;
    justify-content: center;
    /* debug */
    height: 150px;
    background-color: #23272A;


}

.conteiner {
    width: 50%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    height: 70px;
    background-color: #7FFFD4;

}

.logo {
    /* debug */
    border: 1px dashed black;
    background-color: #F9B6C1;

}

.botton {
    /* debug */
    border: 1px dashed black;
    background-color: #F9B6C1;


}